<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40468859107-pu6dla7qa92b9i4f4ivtmietl3car0vq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40468859107-pu6dla7qa92b9i4f4ivtmietl3car0vq</string>
	<key>API_KEY</key>
	<string>AIzaSyDKMvVLoQjkXI4S2gys95q0ArqPVLk6rcg</string>
	<key>GCM_SENDER_ID</key>
	<string>40468859107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tolgahan.Emlak</string>
	<key>PROJECT_ID</key>
	<string>emlak-app-5abc2</string>
	<key>STORAGE_BUCKET</key>
	<string>emlak-app-5abc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:40468859107:ios:5a1a978b67ce0a01d39dd6</string>
</dict>
</plist>
